.photoGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
     padding: 10px; 
    gap: 11px
  }
  
  .photoItem {
    flex: 0 0 26%; /* Занимает 30% ширины контейнера, но не меньше 300px */ 
    margin-bottom: 20px;
    margin-right: 10px;  
    margin-left: 10px;

  }
  
  .photoItem:last-child {
    margin-bottom: 0;
  }
  
  .photo {
    width: 100%;
    height: auto; 
  }
  
  .photoTitle {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: #FF0000;
  }
  